openapi: 3.0.0
info:
  version: 1.0.0
  title: API интернет-магазина Magic Shop
  description: |
    ## Общие сведения

    В документе описано REST API интернет-магазина Magic Shop.

    Основные принципы, на которых построено данное API, описаны в инструкции по [ссылке](https://github.com/sequenia/online-store-api).

    ## Формат данных

    API принимает и возвращает данные в формате JSON.

    ## Формат ответа от сервера

    Ответ на любой запрос имеет единый формат:

    ```json
    {
      "success": true,
      "data": {},
      "errorCode": "",
      "errorMessage": "",
      "errors": {}
    }
    ```

    Описание полей:
    - `success` - `Boolean`. Индикатор успешности выполнения запроса.
    - `data` - `Object`. В случае успеха содержит данные, которые запросил клиент. В случае ошибки имеет значение `null`. 
    - `errorCode` - `String`. В случае успеха имеет значение `null`. В случае ошибки содержит код ошибки.
    - `errorMessage` - `String`. В случае успеха содержит значение `null`. В случае ошибки, содержит локализованное сообщение для пользователя.
    - `errors` - `Object`. В случае успеха содержит значение `null`. В случае ошибки может содержать объект с **Детальной информацией об ошибках**.

    Обоснование формата можно посмотреть по [ссылке](https://github.com/sequenia/online-store-api/blob/master/docs/rest.md#%D0%B5%D0%B4%D0%B8%D0%BD%D1%8B%D0%B9-%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%82-%D0%BE%D1%82%D0%B2%D0%B5%D1%82%D0%B0).

    ## Детальная информация об ошибках

    **Детальная информация об ошибках** имеет следуюущую структуру:

    ```json
    {
      fields: {},
      objects: {},
      arrays: {}
    }
    ```

    Описание полей:
    - `fields` - `Object`. Содержит информацию об ошибках в тех полях, которые являются примитивами, а так же ошибки о вложенных массивах. **Ключ** - имя поля. **Значение** - массив ошибок.
    - `objects` - `Object`. Содержит информацию об ошибках в полях вложенных объектов. **Ключ** - имя вложенного объекта. **Значение** - объект с **Детальной информацией об ошибках** во вложенном объекте.
    - `arrays` - `Object`. Содержит информацию об ошибках в полях вложенных массивов. **Ключ** - имя вложенного массива. **Значение** - массив с объектами, каждый из которых - это **Детальная информация об ошибках**, дополненная индексом объекта в массиве из тела запроса.

    Пример **Детальной информации об ошибках** для профиля со вложенным объектом адреса и вложенным списком документов:

    ```json
    {
      "fields": {
        "firstName": ["Слишком длинное", "Имеет недопустимые символы"],
        "documents": ["Необходимо добавить как минимум 2 документа"]
      },
      "objects": {
        "address": {
          "fields": {
            "country": ["Такой страны не существует"]
          }
        }
      },
      "arrays": {
        "documents": [
          {
            "index": 0,
            "fields": {
              "country": ["Такой страны не существует"]
            }
          }
        ]
      }
    }
    ```

    Обоснование формата и дополнительные примеры можно посмотреть по [ссылке](https://github.com/sequenia/online-store-api/blob/master/docs/rest.md#%D0%B8%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%86%D0%B8%D1%8F-%D0%BE%D0%B1-%D0%BE%D1%88%D0%B8%D0%B1%D0%BA%D0%B0%D1%85-%D0%BF%D1%80%D0%B8-%D1%81%D0%BE%D0%B7%D0%B4%D0%B0%D0%BD%D0%B8%D0%B8-%D0%B8-%D0%BE%D0%B1%D0%BD%D0%BE%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B8).

    ## Аутентификация и авторизация

    Авторизация запросов производится путём подстановки JWT Access Token-а в заголовок `Authorization` в следующем виде (подстроку `{ACCESS_TOKEN}` необходимо заменить на реальное значение):

    ```
    Authorization: Bearer {ACCESS_TOKEN}
    ```

    Access Token выдается после Аутентификации или Регистрации пользователя.

    Некоторые запросы, например, работа с корзиной, требуют обязательной передачи Access Token-а, но могут быть выполнены для анонимных пользователей. Для этого необходимо предварительно выполнить специальный запрос на Регистрацию анонимного пользователя и получить Access Token.

    Подробнее описано по следующей [ссылке](https://github.com/sequenia/online-store-api/blob/master/docs/authorization.md).
servers:
  - url: 'https://online-store.com/api/v1'
security:
  - BearerAuth: []
paths:
  $ref: './_paths.yaml'
components:
  parameters:
    $ref: './_parameters.yaml'
  examples:
    $ref: './_examples.yaml'
  schemas:
    $ref: './_schemas.yaml'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
